body{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 10%;
}

nav{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    height: auto;
}

.nav-logo{
    float: left;
    margin-top: 5px;
}

.buttons{
    float: right;
    margin-top: 2%;
    font-size: 18px;
    text-align: center;
    background-color: white;
    padding: 14px 17px;
    border-radius: 15px;
    border: 2px solid #454545;
}   

.header{
    text-align: center;
    justify-content: center;
    /*border: 2pt solid violet;*/
}

h1{
    font-size: 60px;
}

h2{
    text-align: center;
}

#movieList{
    align-content: center;
}

article{
    display: inline-block;
    width: 17%;
    margin: 2% 1%;
    padding: 2%;
    border: solid 1px #C4C4C4;
    border-radius: 15px;
    text-align: center;
    color: #454545;
    box-shadow: 15px 15px 17px -7px rgba(0, 0, 0, 0.07);
}

article img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 1em;
}

article p {
    border: solid 1px orange;
    display: inline;
}

#front-page-img{
    position: fixed;
    width: 20%;
    right: 0%;
    bottom: 0%;
    /*border: 2pt solid rgb(24, 233, 76);*/
}
