body{
    font-family: 'Poppins', sans-serif; 
    margin: 0; 
    color: #454545;
    
}

.staff-content {
    display: none;
}

nav{
    margin: 0 10%;
    padding: 0;
    overflow: hidden;
    background-color: white;
    height: auto;
}

.nav-logo{
    float: left;
    margin-top: 5px;
}

button{
    margin-top: 2%;
    font-size: 18px;
    text-align: center;
    background-color: white;
    padding: 14px 17px;
    border-radius: 15px;
    border: 2px solid #454545;
    cursor: pointer; 
}   

.nav-buttons{ 
    float: right;
}

header{
    text-align: center;
}

h1{
    font-size: 60px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    font-weight: 400;
    letter-spacing: 0.185em;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0%;
}

header p{
    font-size: 22px;
    margin-bottom: 2%;
}

.menu-buttons{ /*Nueva clase para los botones del menú*/
    margin: 1% 0.5%;
    font-size: 18px;
    font-family: 'Poppins', sans-serif; 
    text-align: center;
    background-color: white;
    border-radius: 15px;
    border: 2px solid #0095EA;
    cursor: pointer;
    width: 20%;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    font-weight: 300;
}

.menu-buttons:hover{ /*Para insertar la imagen cuando el user pasa el mouse*/
    border: 2px solid white;
    color: white;
    background-color: #0095EA;
    
}


h2{
    text-align: center;
    font-weight: 600;
    font-size: 45px;
    line-height: 90px;
    letter-spacing: 0.2em;
    border-top: solid 2px #0095EA;
    border-bottom: solid 2px #0095EA;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

main {
    margin: auto 10%;
}

.sort {
    text-align: right;
}

.sort select {
    border: solid 1px #C4C4C4;
    font-size: large;
    border-radius: 12px;
    padding: 1%;
    margin: 2%;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.05);
}

.sort select option{
    color: #454545;
}

.sort select:focus{
    border:solid 2px #0095EA;
    color: #0095EA;
}

#movieList {
    align-content: center;
    display: grid;
    gap: 1.5rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}

article{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 5% auto;
    padding: 2%;
    border: solid 1px #C4C4C4;
    border-radius: 15px;
    text-align: left;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.05);
    height: 85%;
    background-color: #4545450c;
}

article:hover, article:focus{ /*PROBAR FOCUS EN EL TELEFONO */
    border: solid 1.5px #21B0E8;
}

article img {
    height: 80%;
    display: block;
    border-radius: 12px;
    margin: 1em 5% auto 5%;
}

article p {
    line-height: 1.6em;
    padding: 0.5em 1em 1.5em 0.5em;
}

#front-page-img{
    position: absolute;
    width: 20%;
    right: 0%;
    bottom: 0%;
    float: right;
    /*border: 2pt solid rgb(24, 233, 76);*/
}

footer {
    background-color: rgba(0, 149, 234, 0.22);
    height: 3.5em;
    width: 100%;
    position: relative;
    margin-top: 10%;
}