body{
    font-family: 'Poppins', sans-serif; 
    margin: 0; 
    color: #454545;
}

.staff-content {
    display: none;
}

nav{
    margin: 1em 10%;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    font-size: 1em;
    font-family: 'Poppins', sans-serif; 
    text-align: center;
    background-color: white;
    padding: 14px 17px;
    border-radius: 15px;
    border: 1.7px solid #454545;
    cursor: pointer; 
}   

header{
    text-align: center;
}

h1{
    font-size: 60px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    font-weight: 400;
    letter-spacing: 0.185em;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0%;
}

header p{
    font-size: 22px;
    margin-bottom: 2%;
}

.menu-buttons{ /*Clase para los botones del menú*/
    margin: 1% 0.5%;
    font-size: 18px;
    text-align: center;
    border: 2px solid #0095EA;
    width: 20%;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    font-weight: 300;
}

.menu-buttons:hover, .menu-buttons:focus{ /*Para insertar la imagen cuando el user pasa el mouse*/
    border: 2px solid white;
    color: white;
    background-color: #0095EA;
}

/*SECCIÓN MOVIES*/
h2{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.2em;
    border-top: solid 2px #0095EA;
    border-bottom: solid 2px #0095EA;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

main {
    margin: auto 5%;
}

.movies-content .sort{
    padding-right: 8%;
    justify-content: flex-end;
}

.sort {
    display: flex;
    font-family: 'Poppins', sans-serif;
}

select {
    border: solid 1px #C4C4C4;
    font-size: large;
    border-radius: 12px;
    padding: 0.5em;
    margin: 2%;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.05);
    font-family: 'Poppins', sans-serif;
}

.sort select option{
    color: #454545;
}

.sort select:focus{
    border:solid 2px #0095EA;
    color: #0095EA;
}

#movieList {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

#movieList article {
    display: flex;
    flex-direction: column;
}

article{
    width: 200px;
    margin: 2.5% 1.7%;
    padding: 1%;
    border: solid 1px #C4C4C4;
    border-radius: 15px;
    text-align: left;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.05);
    background-color: #4545450c;
}

#movieList article:hover, article:focus{ 
    border: solid 1.5px #21B0E8;
}

article img {
    height: 80%;
    border-radius: 12px;
    margin: 1em 5% auto 5%;
}

article p {
    padding: 0.5em 1em 0em 0.5em;
    text-align: center;
}

/*SECCIÓN DE STAFF */
.filter-and-sort{
    display: flex;
    font-size: large;
    justify-content: space-between;
    padding: 0 5%;
}

.filter-and-sort p{
    display: inline-block;
}

#staffList {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

#staffList article {
    width: 25%;
    padding: 1.3em;
}

h3 {
    margin: 0;
}

footer {
    background-color: rgba(0, 149, 234, 0.22);
    width: 100%;
    position: relative;
    margin-top: 10%;
    text-align: center;
}

#front-page-img{
    position: absolute;
    width: 20%;
    right: 0%;
    bottom: 0%;
    float: right;
    z-index: 1;
}

footer p {
    padding: 0.7em;
    margin-block-end: 0;
}

footer a:link{
    color: #004166;
}

footer a:visited{
    color: #454545
}

/*Botón ir arriba*/
.go-up{
    cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
    z-index: 2;
    color: #454545;
}

.go-up:hover{
    border: 2px solid white;
    color: white;
    background-color: #0095EA;
}